

.header {
    color: #0a2a64; 
    text-transform: uppercase;
    margin: 0; /* Remove default margin for better alignment */
}

.submit {
    background-color: #45a049;
    height: 35px;
    width: 100px;
    color: white; /* Ensure the text color is white */
    border: none; /* Remove default button borders */
    cursor: pointer; /* Change cursor on hover */
    font-size: 14px; /* Adjust font size if needed */
}

body{
    background-color: #10393d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Set the desired height */
    background-color: #f2f2f2; 
    gap: 1rem;
}
.logo-class {
    width: 70px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Adjust as needed */
}

.container {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 150px;
    padding: 20px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    border-radius: 10%;
    font-weight: bold;
    height: auto;
    width: auto;
}
.second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 40px;
}
a{
    color: white;
    font-weight: bold;
    
} 
.header{
    background-color: antiquewhite;
    text-align: center;
    height: 70px;
}

.customer img {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 40%;
}

.notification-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}
.customer {
    position: relative;
    /* other styles */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 100px;
    margin-top: 5px;
}

button:hover {
    background-color: #45a049;
}