* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #10393d;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.company-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s;
}

.input-field input:focus {
    border-color: #007BFF;
}

.input-field label {
    position: absolute;
    top: 70%;
    left: 2px;
    transform: translateY(-90%);
    color: #999;
    pointer-events: none;
    transition: 0.3s;
}

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    color: #007BFF;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.logo-class {
    width: 70px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Adjust as needed */
}