h1 {
    color: #30479e; 
    background-color: beige;
    text-transform: uppercase;
    text-align: center;
}

h1 div {
    max-width: 100%;
    margin: 0 auto;
}

h1 div span {
    flex-grow: 1;
    text-align: center;
}

h1 div div {
    display: flex;
    gap: 10px; /* Space between buttons */
}

body {
font-family: Arial, sans-serif;
background-color: #e5eaee;
}

select {
width: 200px;  /* Adjust the width as desired (e.g., 200px, 25%) */
padding: 5px;
border: 1px solid #ccc;
border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th, td {
    padding: 8px;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    background-color: #45a049;;
    height: 35px;
    width: 100px;
    color: white; /* Add this if you want the text color to be white */
    border: none; /* Add this to remove default button borders */
    cursor: pointer; /* Add this to change the cursor on hover */
}

.button-link {
    text-decoration: none;
    color: white; /* Ensures the link text color matches the button */
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 35px; /* Vertically center the text inside the button */
}
.select2-container {
    width: 100% !important;
  }